.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  height: 100px;
}

.nav-items ul {
  font-size: 20px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 300px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}
